*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KoHo';
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:focus{
  outline: none;
}
body::-webkit-scrollbar {
  width: 10px;
  background: #1D1D1D;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}